.row-product {
    height: 35px;
    display: flex;
    align-items: center;
}
.select{
    display: flex;
    justify-content: center;
}
#trash-order{
    width: 25px;
  }
  #btn-deleted-trash{
    float: right;
  }