.container-order {
    align-content: center;
    background-color: #FCFFFD;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }