.container-order {
  width:500px;
  background-color:black;
  margin:10px;
  padding:10px;
  float: right;
  }
  .order-body{
    background-color:rgb(255, 255, 255);
    overflow: hidden;
    margin:10px;
    padding:10px;
  }