.card {
    border: 1px solid #e7e7e7;
    width: 20%;
}

.item-photo {
    width: 150px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-plus-less {
    width: 15px;
    cursor: pointer;
}

.card-text {
    display: flex;
    justify-content: space-around;
}

.quantity {
    width: 10%;
}