.container-card{
    /* width: 50%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.item-photo {
    width: 70%;
    border-radius: 5px 5px 0 0;
    margin: 20px;
}

.plus {
    width: 15px;
}
.card{
    transition: 0.3s;
    width: 50%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 15px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container {
    padding: 2px 16px;
  }

.btn-container {
    width: 74%;
    margin: 5px;
}

.btn-plus-less {
    width: 15px;
    cursor: pointer;
}

.card-text {
    width: 65%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.card-price {
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.quantity {
    width: 35%;
}

@media only screen and (min-width: 768px) {
    .container-card{
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    .btn-container {
        width: 58%;
        margin: 5px;
    }

    .card-text {
        width: 58%;
    }
}
